.contact-container{
    width: 100vw;
    height: 100vh;
    background-color: #F4F1DE;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-box-container {
    color: #3D405B;
    width: 10vw; 
    height: 7vh;
    background: #F2CC8F;
    border: 2px solid black;
    box-shadow: 15px 15px 1px #3D405B, 15px 15px 1px 2px black, 20px 20px 20px 10px rgb(167, 167, 167);
    transition: 0.3s;
    animation: ease-in;
}

.contact-box-container:hover {
    transform: scale(1.03);
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    
    .contact-box-container{
        width: 50vw;
    }
}