.about-container{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F1DE;
    color: #3D405B;
}

.about-text {
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 3vh;
}

@media only screen and (max-width: 600px) {
    .about-text {
        font-size: 2vh;
    }
}