.projects-container{
    background-color: #E07A5F;
    display: flex;
    flex-direction: column;
    justify-content: space space-evenly;
    align-items: center;
    height: 250vh;
    width: 100vw;
    gap: 10vh
}
.project{
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6vh;

}
.project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F4F1DE;
    color: #3D405B;
    width: 45vw;
    height: 35vh;
    border: -3px solid #E07A5F;
    border-radius: 5px;
}

.project-info {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F1DE;
    color: hsl(234, 20%, 30%);
    width: 38vw;
    height: 20vh;
    border: -5px solid #E07A5F;
    border-radius: 5px;
    gap: 10px;
}

.project-row-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-row-two{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 2vw;
}
.project-links{
    display: flex;
    flex-direction: row;
}

.space {
    height: 10vh;
    width: 100vw;
    background-color: #E07A5F;
}

.image {
    border: -5px solid #E07A5F;
    border-radius: 5px;
}

@media only screen and (max-width: 600px){

    .project-info {
        width: 80vw;
    }

    .logo {
        width: 5vw;
    }

    .project-box {
        width: 80vw;
    }
}
