.nav-container{
    display:flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    top: 0;
    width: 100%;
    background-color: #F4F1DE;
    color: #3D405B;
}

.banner-left{
    display: flex;
    gap: 20px;
    padding-left: 3vw;
}

.banner-right{
    display: flex;
    justify-content: space-around;
    gap: 5vw;
    padding-right: 5vw;
}

